.app-branding {
  max-width: 220px;

  a {
    display: block;

    img,
    svg {
      display: block;
      height: auto;
      width: 100%;
    }
  }

  // Mobile Styles
  @media (max-width: $mobile-breakpoint) {
    margin-bottom: 0;
    max-width: 100%;

    a {

      img,
      svg {
        height: 50px;
        width: auto;
      }
    }
  }
}
