.application-footer {
  border-top: 5px solid $ui-border-color;
  font-size: 14px;
  margin-top: 48px;
  padding-bottom: 48px;
  padding-top: 48px;

  .application-nav {
    color: $accent-color;

    svg {
      margin-right: 7px;
    }

    span {
      color: $black;
    }
  }

  .footer-text-link {
    font-size: 18px;
    margin: 0 20px;
    padding: 0 20px;
  }

  @media (max-width: $mobile-breakpoint) {

  }
}
