body {
  background-color: $body-background-color;
  color: $body-color;
  font-family: $body-font-family;
  font-size: $body-font-size;
  -webkit-font-smoothing: subpixel-antialiased;
  line-height: $body-line-height;
  text-rendering: optimizelegibility;
}
