.section-content {
  @include outer-container;
  position: relative;
  z-index: 9;

  &.fluid {
    max-width: 100%;
  }

  .media {
    @include display(flex);
    @include justify-content(center);

    img,
    svg {
      display: block;
      height: auto;
      width: 100%;
    }
  }

  &.section-footer {
    font-size: 18px;
    padding-top: 40px;

    span {
      margin-right: 20px;
    }
  }

  @media (max-width: $mobile-breakpoint) {

  }
}
