.trigger {
  @include align-items(center);
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(center);
  @include transition(all 0.2s ease-in-out);
  background-color: transparent;
  border: 1px solid color($grey, 100);
  cursor: pointer;
  height: 50px;
  max-width: 50px;
  position: absolute;
  right: $mobile-padding;
  top: $mobile-padding;
  width: 50px;
  z-index: 9999;

  .bar {
    background-color: $accent-color;
    height: 3px;
    margin-bottom: 3px;
    width: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &:hover {
    background-color: color($grey, 50);

    .bar {
      color: darken($accent-color, 10%);
    }
  }
}
