// This adds basic styles for all devise forms
$devise-box-shadow-color: rgba(0, 0, 0, 0.2);
$devise-error-color: color($red, 700);
$devise-input-border-color: color($grey, 400);

body.confirmations,
body.passwords,
body.registrations,
body.sessions,
body.unlocks {
  main {
    background: $white;
    border-radius: 2px;
    box-shadow: 1px 1px 4px $devise-box-shadow-color;
    margin: 30px auto;
    max-width: 380px;
    overflow: hidden;
    padding: 0 30px 20px;

    a {
      font-size: 0.8em;
    }

    div {
      margin-bottom: 20px;
    }
  }

  .resource-errors {
    color: $devise-error-color;

    h2 {
      font-size: 1.2em;
    }
  }

  label {
    display: inline-block;
    margin: 0 5px 5px;
  }

  input[type="checkbox"] {
    margin-right: 5px;
  }

  input[type="email"],
  input[type="password"],
  input[type="text"] {
    border: 1px solid $devise-input-border-color;
    border-radius: 2px;
    padding: 5px;
    width: 100%;
  }
}
