// Global variables
$max-width: 1280px;
$mobile-breakpoint: 767px;
$transition-timing: cubic-bezier(0.25, 0.8, 0.25, 1);

// Colors
$accent-color:          #71c69d;
$body-background-color: #fafafa;
$body-color:            #4a4a4a;
$primary-color:         #192857;
$default-ui-color:      $accent-color; // used in the codelation_ui components
$ui-border-color:       #eee;
$ui-icon-idle-color:    #c4c4c4;

// Application Typography
$body-font-family:      'Open Sans', arial, sans-serif;
$body-font-size:        16px;
$body-line-height:      1.6875;
